<!-- Uurroosters Aanpassen -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-group-justified">
            <a href="#/uurroosters" class="btn btn-default">
                <i class="fa fa-angle-left fa-fw"></i> Terug
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/preview" class="btn btn-default">
                <i class="fa fa-calendar fa-fw"></i> Preview
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/aanpassen" class="btn btn-default active">
                <i class="fa fa-edit fa-fw"></i> Aanpassen
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/verwijderen" class="btn btn-default">
                <i class="fa fa-times fa-fw"></i> Verwijderen
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="calendar">
            <div class="calendar-headers aanpassen-headers">
                <div>
                    <i class="fa fa-caret-left vorige" data-ng-click="vm.selectDag('vorige')"></i>
                    {{ vm.dagLabels[vm.selectedDag] }}
                    <i class="fa fa-caret-right volgende" data-ng-click="vm.selectDag('volgende')"></i>
                </div>
            </div>
            <div class="hours aanpassen-hours">
                <div class="hour-block" data-ng-repeat="uur in vm.tijdstippen">
                    <span class="hour-text">
                        {{ uur }}
                    </span>
                </div>
                <div class="hour-block"></div>
            </div>
            <div class="weekday aanpassen-weekday">
                <div class="hour-bg-container">
                    <div class="hour-bg"
                         data-ng-repeat="uur in vm.tijdstippen"></div>
                    <div class="hour-bg"></div>
                </div>
                <div class="les lesblok"
                     data-ng-repeat="lb in vm.lesblokken"
                     data-ng-style="{{vm.getStyle(lb)}}"
                     data-ng-click="vm.selectLesblok(lb)"
                     >
                    <p><strong>Lesblok {{$index + 1}}</strong></p>
                    <p><em>Nog geen les ingepland.</em></p>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-9">
        {{ vm.selectedLesblok | json}}
        <div data-ng-show="vm.showDetails"></div>
        <div data-ng-hide="vm.showDetails">
            <p>Nog geen lesblok geselecteerd</p>
        </div>
    </div>
</div>