<!-- Uurroosters Aanpassen -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-group-justified">
            <a href="#/uurroosters" class="btn btn-default">
                <i class="fa fa-angle-left fa-fw"></i> Terug
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/preview" class="btn btn-default">
                <i class="fa fa-calendar fa-fw"></i> Preview
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/aanpassen" class="btn btn-default active">
                <i class="fa fa-edit fa-fw"></i> Aanpassen
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/verwijderen" class="btn btn-default">
                <i class="fa fa-times fa-fw"></i> Verwijderen
            </a>
        </div>
    </div>
</div>
<div class="row"
     data-ng-show="!vm.isLoading && vm.lessen.length > 0">
    <div class="col-md-3">
        <!-- 1-dag kalender -->
        <div class="calendar">
            <div class="calendar-headers aanpassen-headers">
                <div>
                    <i class="fa fa-caret-left vorige" data-ng-click="vm.selectDag('vorige')"></i>
                    {{ vm.dagLabels[vm.selectedDag] }}
                    <i class="fa fa-caret-right volgende" data-ng-click="vm.selectDag('volgende')"></i>
                </div>
            </div>
            <div class="hours aanpassen-hours">
                <div class="hour-block" data-ng-repeat="uur in vm.tijdstippen">
                    <span class="hour-text">
                        {{ uur }}
                    </span>
                </div>
                <div class="hour-block"></div>
            </div>
            <div class="weekday aanpassen-weekday">
                <div class="hour-bg-container">
                    <div class="hour-bg"
                         data-ng-repeat="uur in vm.tijdstippen"></div>
                    <div class="hour-bg"></div>
                </div>
                <div data-ng-repeat="lb in vm.lesblokken">
                    <div class="les lesblok"
                         data-ng-hide="vm.isIngepland(lb)"
                         data-ng-style="{{vm.getStyle(lb)}}"
                         data-ng-click="vm.selectLesblok(lb)">
                        <p><strong>Lesblok {{$index + 1}}</strong></p>
                    </div>
                    <div class="les lesblok ingepland"
                         data-ng-show="vm.isIngepland(lb)"
                         data-ng-style="{{vm.getStyle(lb)}}"
                         data-ng-click="vm.selectLesblok(lb)">
                        <p><strong>Lesblok {{$index + 1}}</strong></p>
                        <p>{{ vm.displayLesInfo(lb) }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 aanpassen-right-col">
        <!-- Lesblok info + submit -->
        <div data-ng-show="vm.showDetails">
            <div class="row">
                <div class="col-md-6">
                    <div class="well les-invoegen">
                        <h3 class="well-title">
                            Les inplannen
                            <span class="pull-right text-danger pointer"
                                  data-toggle="modal"
                                  data-placement="left"
                                  data-ng-show="vm.nieuweLes.Id"
                                  data-target="#confirm-delete"
                                  title="Verwijderen">
                                <i class="fa fa-times-circle fa-fw"></i>
                            </span>
                        </h3>
                        <p>Van {{ vm.nieuweLes.Lesblok.Starttijd }} tot {{ vm.nieuweLes.Lesblok.Eindtijd }}</p>
                        <p>
                            <a data-ng-click="vm.huidigItem = 'vakken'">
                                Kies een vak <i class="fa fa-angle-double-right fa-fw"></i>
                            </a><br />
                            <em data-ng-hide="vm.bevestigdeItems.vakken">Nog geen vak geselecteerd</em>
                            <span data-ng-show="vm.bevestigdeItems.vakken">{{vm.nieuweLes.Vak.Naam}}</span>
                        </p>
                        <p>
                            <a data-ng-click="vm.huidigItem = 'leerkrachten'">
                                Kies een leerkracht <i class="fa fa-angle-double-right fa-fw"></i>
                            </a><br />
                            <em data-ng-hide="vm.bevestigdeItems.leerkrachten">Nog geen leerkracht geselecteerd</em>
                            <span data-ng-show="vm.bevestigdeItems.leerkrachten">{{vm.nieuweLes.Leerkracht.Naam}} {{vm.nieuweLes.Leerkracht.Voornaam}}</span>
                        </p>
                        <p>
                            <a data-ng-click="vm.huidigItem = 'lokalen'">
                                Kies een lokaal <i class="fa fa-angle-double-right fa-fw"></i>
                            </a><br />
                            <em data-ng-hide="vm.bevestigdeItems.lokalen">Nog geen lokaal geselecteerd</em>
                            <span data-ng-show="vm.bevestigdeItems.lokalen">{{vm.nieuweLes.Lokaal.Naam}}</span>
                        </p>
                        <p>
                            <a data-ng-click="vm.huidigItem = 'bestaandeLessen'">
                                Reeds ingeplande les gebruiken <i class="fa fa-angle-double-right fa-fw"></i>
                            </a>
                        </p>
                        <p data-ng-show="vm.conflicting()" class="text-warning">
                            <i class="fa fa-warning"></i> {{vm.nieuweLes.Vak.Naam}} staat niet in de lijst van beschikbare vakken
                            van {{ vm.nieuweLes.Leerkracht.Naam }} {{ vm.nieuweLes.Leerkracht.Voornaam }}.
                        </p>
                        <button type="reset"
                                class="btn btn-default"
                                data-ng-click="vm.cancel()">
                            Annuleren
                        </button>
                        <button type="submit"
                                class="btn btn-primary"
                                data-ng-click="vm.submitLes()"
                                data-ng-disabled="!(vm.bevestigdeItems.vakken && vm.bevestigdeItems.leerkrachten && vm.bevestigdeItems.lokalen)">
                            <span data-ng-show="vm.isSubmitting"><i class="fa fa-spinner fa-pulse fa-fw"></i> </span>
                            Opslaan
                        </button>
                    </div>
                </div>
                <div class="col-md-6">
                    <!-- vakken-->
                    <div class="well" data-ng-show="vm.huidigItem == 'vakken'">
                        <form class="form">
                            <fieldset>
                                <legend>Vakken</legend>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="zoek" placeholder="Zoek een vak..." data-ng-model="vakQuery" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            size="5"
                                            data-ng-model="vm.nieuweLes.Vak"
                                            data-ng-options="vak.Naam for vak in vm.vakken | filter:vakQuery | orderBy:'Naam' track by vak.Id"></select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" data-ng-click="vm.bevestigItem('vakken')">Bevestigen</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- leerkrachten -->
                    <div class="well" data-ng-show="vm.huidigItem == 'leerkrachten'">
                        <form class="form">
                            <fieldset>
                                <legend>Leerkrachten</legend>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="zoek" placeholder="Zoek een leerkracht..." data-ng-model="lrkQuery" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" /> Toon enkel leerkrachten die {{ vm.nieuweLes.Vak.Naam }} kunnen geven.
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            size="5"
                                            data-ng-model="vm.nieuweLes.Leerkracht"
                                            data-ng-options="(lrk.Naam + ' ' + lrk.Voornaam) for lrk in vm.leerkrachten| filter:lrkQuery | orderBy:'Naam' track by lrk.Id"></select>
                                </div>                                
                                <div class="form-group">
                                    <button class="btn btn-primary" data-ng-click="vm.bevestigItem('leerkrachten')">Bevestigen</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- Lokalen -->
                    <div class="well" data-ng-show="vm.huidigItem == 'lokalen'">
                        <form class="form">
                            <fieldset>
                                <legend>Lokalen</legend>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="zoek" placeholder="Zoek een lokaal..." data-ng-model="lokaalQuery" />
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <select class="form-control"
                                            size="5"
                                            data-ng-model="vm.nieuweLes.Lokaal"
                                            data-ng-options="lokaal.Naam for lokaal in vm.lokalen| filter:lokaalQuery | orderBy:'Naam' track by lokaal.Id"></select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" data-ng-click="vm.bevestigItem('lokalen')">Bevestigen</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                    <!-- bestaande lessen -->
                    <div class="well" data-ng-show="vm.huidigItem == 'bestaandeLessen'">
                        <h3 class="well-title">Bestaande lessen</h3>
                        <div data-ng-repeat="les in vm.lessen | uniekeLessen as unieke"
                             class="bestaande-les"
                             data-ng-click="vm.useExisting(les)">
                            <p>{{les.Vak.Naam}}</p>
                            <p>{{les.Leerkracht.Naam}} {{les.Leerkracht.Voornaam}}</p>
                            <p>{{les.Lokaal.Naam}}</p>
                        </div>
                        <p data-ng-show="unieke.length == 0">Nog geen lessen ingepland.</p>
                    </div>
                </div> <!--// col-md-6 -->
            </div> <!--// row -->
        </div> <!--// showDetails  -->
    </div> <!--// Right col -->
</div> <!--// row -->

<p data-ng-show="vm.isLoading" class="text-center">
    <i class="fa fa-spinner fa-pulse"></i>
</p>

<div data-ng-show="!vm.isLoading && vm.lessen.length == 0"
     class="row">
    <div class="col-md-6 col-md-offset-3">
        <p>Eerste setup</p>
    </div>
</div>


<!-- Delete modal -->
<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Verwijderen bevestigen</h4>
            </div>
            <div class="modal-body">
                <p>Deze les wordt definitief verwijderd: </p>
                <p>{{ vm.nieuweLes.Vak.Naam }}</p>
                <p>{{ vm.nieuweLes.Leerkracht.Naam }} {{ vm.nieuweLes.Leerkracht.Voornaam }}</p>
                <p>{{ vm.nieuweLes.Lokaal.Naam}}</p>
                <p>{{ vm.nieuweLes.Lesblok.Starttijd }} - {{ vm.nieuweLes.Lesblok.Eindtijd }}</p>
                <p>{{ vm.dagLabels[vm.selectedDag] }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.deleteLes()">Verwijderen</button>
            </div>
        </div>
    </div>
</div>