<!-- Uurroosters Index -->
<div class="row">
    <div class="col-md-4">
        <form>
            <div class="well">
                <div class="form-group">
                    <label class="control-label" for="zoek">Zoek {{ vm.entityName }}:</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="zoek" placeholder="Zoek {{ vm.entityName }}..." data-ng-model="query" />
                        <span class="input-group-addon">
                            <i class="fa fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
            <div class="well">
                <fieldset>
                    <legend>Opties</legend>
                    <div class="form-group">
                        <label class="control-label" for="campus">Campus:</label>
                        <select class="form-control"
                                id="campus"
                                data-ng-model="vm.campusQuery"
                                data-ng-options="campus.Naam for campus in vm.campussen | orderBy:'Naam' track by campus.Id">
                            <option value="">Kies een campus...</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="studierichting">Studierichting:</label>
                        <select class="form-control"
                                id="studierichting"
                                data-ng-model="vm.srQuery"
                                data-ng-options="sr.Naam for sr in vm.studierichtingen | orderBy:'Naam' track by sr.Id">
                            <option value="">Kies een studierichting...</option>
                        </select>
                    </div>
                </fieldset>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                Kies een klas
            </div>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Leerjaar</th>
                        <th>Campus</th>
                        <th>Studierichting</th>
                    </tr>
                </thead>
                <tbody data-ng-show="vm.entities.length == 0 && !vm.isLoading">
                    <tr>
                        <td colspan="4">
                            Nog geen klassen!
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="vm.isLoading">
                    <tr>
                        <td colspan="4" class="text-center">
                            <i class="fa fa-spinner fa-pulse"></i> Loading
                        </td>
                    </tr>
                </tbody>
                <tbody data-ng-show="!vm.isLoading">
                    <tr data-ng-repeat="klas in vm.entities | filter:query | filter:vm.srQuery.Naam | filter:vm.campusQuery.Naam"
                        data-ng-click="vm.showDetails(klas)"
                        class="link">
                        <td>{{klas.Naam}}</td>
                        <td>{{klas.Leerjaar}}</td>
                        <td>{{klas.Campus.Naam}}</td>
                        <td>{{klas.Studierichting.Naam}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<a href="#/uurroosters/1/preview">Preview ID = 1</a>