<!-- Uurroosters Index -->
<div class="row">
    <div class="col-xs-12">
        <div class="btn-group btn-group-justified">
            <a href="#/uurroosters" class="btn btn-default">
                <i class="fa fa-angle-left fa-fw"></i> Terug
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/preview" class="btn btn-default active">
                <i class="fa fa-calendar fa-fw"></i> Preview
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/aanpassen" class="btn btn-default">
                <i class="fa fa-edit fa-fw"></i> Aanpassen
            </a>
            <a data-ng-href="#/uurroosters/{{vm.currentKlas.Id}}/verwijderen" class="btn btn-default">
                <i class="fa fa-times fa-fw"></i> Verwijderen
            </a>
        </div>
    </div>
</div>

<div class="calendar">
    <div class="calendar-headers">
        <div>
        </div>
        <div data-ng-repeat="dag in vm.dagen">
            {{ dag }}
        </div>
    </div>
    <div class="hours">
        <div class="hour-block" data-ng-repeat="uur in vm.tijdstippen">
            <span class="hour-text">
                {{ uur }}
            </span>
        </div>
        <div class="hour-block"></div>
    </div>
    <div class="weekday"
         data-ng-repeat="dag in vm.dagen"
    >
        <div class="hour-bg-container">
            <div class="hour-bg"
                 data-ng-repeat="uur in vm.tijdstippen"></div>
            <div class="hour-bg"></div>
        </div>
        <div class="les"
             data-ng-repeat="les in vm.lessen | filter:{DagNaam:dag}"
             data-ng-style="{{vm.getStyle(les)}}"
             data-toggle="modal"
             data-target="#info"
             data-ng-click="vm.selectedLes = les"
        >
            <p>{{les.VakNaam}}</p>
            <p>{{les.LokaalNaam}}</p>
            <p>{{ vm.getFormattedTime(les) }}</p>    
        </div>
        <div class="les event"
             data-ng-repeat="event in vm.events | filter:{DagNaam:dag}"
             data-ng-style="{{vm.getEventStyle(event)}}"
             data-toggle="modal"
             data-target="#info-event"
             data-ng-click="vm.selectedEvent = event"
        >
            <p>{{event.Naam}}</p>
        </div>

    </div>
</div>
<ul class="pager">
    <li class="previous"><a href="#">&larr; Vorige week</a></li>
    <li class="next"><a href="#">Volgende week &rarr;</a></li>
</ul>

<div class="modal fade" id="info" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ vm.selectedLes.VakNaam}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ vm.getFormattedTime(vm.selectedLes) }}</p>
                <p>Leerkracht: {{ vm.selectedLes.LeerkrachtNaam}}</p>
                <p>Lokaal: {{ vm.selectedLes.LokaalNaam}}</p>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="info-event" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">{{ vm.selectedEvent.Naam}}</h4>
            </div>
            <div class="modal-body">
                <p>{{ vm.selectedEvent.StartTijdstip }} - {{ vm.selectedEvent.EindTijdstip }}</p>
                <p>{{ vm.selectedEvent.Omschrijving }}</p>
            </div>
        </div>
    </div>
</div>
