<!-- nieuw event -->
<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a data-ng-href="#/events">Events</a></li>
    <li class="active">Nieuw</li>
</ul>

<p class="text-center" data-ng-show="vm.isLoading">
    <i class="fa fa-spinner fa-pulse"></i> Loading... 
</p>
<div class="row" data-ng-hide="vm.isLoading">
    <div class="col-md-4">
        <!-- Klassen kiezen-->
        <div class="well">
            <form novalidate name="nieuw">
                <fieldset>
                    <legend>Klassen</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="zoek_klas" placeholder="Zoek een klas..." data-ng-model="klasQuery" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control"
                                size="5"
                                id="klassen"
                                name="klassen"
                                data-ng-model="vm.nieuwEvent.Klassen"
                                data-ng-multiple="true"
                                data-ng-options="klas.Naam for klas in vm.klassen | filter:klasQuery | orderBy:'Naam' track by klas.Id"
                                required
                                multiple></select>
                        <span data-ng-show="nieuw.klassen.$error.required" class="text-warning">Ten minste één klas is verplicht.</span>
                    </div>

                    <p data-toggle="collapse" class="my-collapse-title" href="#campussen" aria-expanded="false">
                        <i class="fa fa-angle-double-right fa-fw"></i> Selecteer per campus
                    </p>
                    <div class="collapse" id="campussen">
                        <div class="checkbox"
                             data-ng-repeat="campus in vm.campussen | orderBy:'Naam' ">
                            <label>
                                <input type="checkbox"
                                       data-ng-change="vm.selectCampus(campus)"
                                       data-ng-model="vm.campusCheckboxes[campus.Id]"> {{campus.Naam}}
                            </label>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-8">
        <div class="well">
            <form novalidate name="nieuw" data-ng-submit="vm.insertEvent()">
                <fieldset>
                    <legend>Info</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="event_naam">Naam:</label>
                                <input type="text" id="naam" name="naam"
                                       class="form-control"
                                       data-ng-model="vm.nieuwEvent.Naam"
                                       data-ng-maxlength="255"
                                       required/>
                                <span data-ng-show="nieuw.naam.$error.required" class="text-warning">Naam is een verplicht veld</span>
                                <span data-ng-show="nieuw.naam.$error.maxlength" class="text-warning">Naam mag maximaal 255 tekens lang zijn.</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="event_omschrijving">Omschrijving:</label>
                                <textarea class="form-control" 
                                          name="omschrijving" 
                                          id="omschrijving" 
                                          data-ng-model="vm.nieuwEvent.Omschrijving"
                                          data-ng-maxlength="255"
                                          required></textarea>
                                <span data-ng-show="nieuw.omschrijving.$error.required" class="text-warning">Omschrijving is een verplicht veld</span>
                                <span data-ng-show="nieuw.omschrijving.$error.maxlength" class="text-warning">Omschrijving mag maximaal 255 tekens lang zijn.</span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Starttijdstip</label>
                                <div class='input-group date datetimepicker' id="starttijdstip">
                                    <input type='text' class="form-control" data-ng-model="vm.nieuwEvent.StartTijdstip" id="startinput" name="startinput" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                                <span data-ng-show="nieuw.startinput.$error.required" class="text-warning">Starttijdstip is een verplicht veld</span>
                            </div>
                            <div class="form-group">
                                <label>Eindtijdstip</label>
                                <div class='input-group date datetimepicker' id="eindtijdstip">
                                    <input type='text' class="form-control" data-ng-model="vm.nieuwEvent.EindTijdstip" id="eindinput" name="eindinput" required/>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>                                    
                                </div>
                                <span data-ng-show="nieuw.eindinput.$error.required" class="text-warning">Eindtijdstip is een verplicht veld</span>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-primary" data-ng-disabled="vm.submitting">
                        <span data-ng-show="vm.submitting"><i class="fa fa-spinner fa-pulse"></i></span>
                        <span data-ng-hide="vm.submitting">Opslaan</span>
                    </button>
                    <span class="btn btn-default" data-ng-click="vm.resetNieuwEvent()">Annuleren</span>
                    <p class="text text-success" data-ng-show="vm.success">Event succesvol toegevoegd.</p>
                </fieldset>
            </form>
        </div><!--// well -->
    </div><!--// col-md-4 -->
</div>