<!-- nieuw event -->
<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a data-ng-href="#/events">Events</a></li>
    <li class="active">Nieuw</li>
</ul>

<p class="text-center" data-ng-show="vm.isLoading">
    <i class="fa fa-spinner fa-pulse"></i> Loading... 
</p>
<div class="row" data-ng-hide="vm.isLoading">
    <div class="col-md-4">
        <!-- Klassen kiezen-->
        <div class="well">
            <form>
                <fieldset>
                    <legend>Klassen</legend>
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" id="zoek_klas" placeholder="Zoek een klas..." data-ng-model="klasQuery" />
                            <span class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control"
                                size="5"
                                data-ng-model="vm.selectedKlassen"
                                data-ng-options="klas.Naam for klas in vm.klassen | filter:klasQuery | orderBy:'Naam' track by klas.Id"></select>
                    </div>
                    //ToDo: filteren op bv campus
                </fieldset>
            </form>
        </div>
    </div>
    <div class="col-md-4">
        <div class="well">
            <form>
                <fieldset>
                    <legend>Info</legend>
                    <div class="form-group">
                        <label class="control-label" for="event_naam">Naam:</label>
                        <input type="text" class="form-control" name="event_naam" id="event_naam" />
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="event_omschrijving">Omschrijving:</label>
                        <textarea class="form-control" name="event_omschrijving" id="event_omschrijving"></textarea>
                    </div>
                    <div class="form-group">
                        <label>Start tijdstip</label>
                        <div class='input-group date datetimepicker'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Eind tijdstip</label>
                        <div class='input-group date datetimepicker'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <script type="text/javascript">
                        $(function () {
                            $('.datetimepicker').datetimepicker({
                                locale: 'nl'
                            });
                        });
                    </script>
                </fieldset>
            </form>
        </div>
    </div>
</div>