<div class="row">
    <div class="col-md-6">
        <h2>Uurroosters Applicatie</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus consequat nunc dui, at bibendum enim
            volutpat imperdiet. Nunc porttitor imperdiet volutpat. Integer ac ligula vehicula, hendrerit dolor sed,
            malesuada mauris. Sed magna mauris, malesuada vitae volutpat vitae, mattis at dui. Nullam sit amet gravida
            turpis. Nam vel nunc viverra, luctus mauris quis, scelerisque enim. Proin dignissim tortor tellus, vel euismod
            enim auctor eu. Integer massa enim, facilisis id luctus a, blandit in orci. Etiam congue, justo egestas dictum
            tempor, nibh ipsum pretium diam, ac venenatis nibh odio eu elit.
        </p>
        <p>
            Proin nisl mi, dictum quis libero vel, volutpat porta nisi. Vestibulum id sapien non eros tincidunt venenatis at
            eu massa. Nunc sed sem facilisis, cursus purus id, rutrum odio. Vivamus dignissim elit at elit tincidunt, at tempus
            nunc gravida. Quisque rutrum neque eu pharetra finibus. Nam eu est commodo, euismod libero quis, consequat leo.
            Aliquam erat volutpat.
        </p>
    </div>
    <div class="col-md-5 col-md-offset-1">
        <h2></h2>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa fa-bookmark fa-fw"></i> Links
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-primary btn-block">
                            <i class="fa fa-calendar fa-fw fa-2x"></i><br />
                            Uurroosters
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-success btn-block">
                            <i class="fa fa-calendar-plus-o fa-fw fa-2x"></i><br />
                            Events
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-danger btn-block">
                            <i class="fa fa-group fa-fw fa-2x"></i><br />
                            Klassen
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>