tr.link:hover {
    cursor: pointer;
}
.well-title {
    margin-top: 0;
}

.les-invoegen a:hover {
    cursor: pointer;
}

.pointer:hover {
    cursor: pointer;
}

.my-collapse-title:hover {
    text-decoration: underline;
    cursor: pointer;
}