.calendar {
    width: 100%;
    margin-top: 21px;
    overflow: auto;
}
.calendar > div {
    float: left;
    position: relative;
}
.calendar-headers {
    width: 100%;
    background: #DDD;
    color: #666;
    text-transform: uppercase;
    line-height: 32px;
    margin-bottom: 15px;
}
.calendar-headers > div {
    width: 19%;
    float: left;
    text-align: center;
}
.calendar-headers > div:first-child {
    width: 5%;
    min-height: 1px;
}
.hours {
    width: 5%;
    min-height: 1px;
}
.weekday {
    width: 18%;
    margin: 0 0.5%;
    min-height: 1px;
}
.hour-block {
    position: relative;
    height: 100px;
}
.hour-block:before {
    content: " "
}
.hour-text {
    position: absolute;
    bottom: -7px;
    right: 5px;
}
.hour-bg-container {
    position: absolute;
    width: 100%;
}
.hour-bg {
    height: 100px;
    width: 100%;
    background: #EEE;
    border-bottom: 2px solid #AAA;
}
.hour-bg:last-of-type {
    border-bottom: none;
    height: 100px;
}
.les {
    position: absolute;
    width: 96%;
    margin-left: 2%;
    background: red;
}
.les:hover {
    cursor: pointer;
}
.les p {
    margin: 0;
}


/*** Aanpassen ***/
.aanpassen-headers {
    width: 79%;
    margin-left: 21%;
}
.aanpassen-headers > div, .aanpassen-headers > div:first-child {
    width: 100%;
}
.aanpassen-weekday {
    width: 79%
}
.aanpassen-hours {
    width: 20%
}
.lesblok {
    background: white;
    border: 1px solid black;
    width: 90%;
    margin-left: 5%;
}
.aanpassen-headers .vorige {
    position: absolute;
    left: 5px;
    top: 4px;
    font-size: 24px;
}
.aanpassen-headers .volgende {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 24px;
}
.aanpassen-headers .volgende:hover, .aanpassen-headers .vorige{
    cursor: pointer;
}

/** aanpassen col **/
.aanpassen-right-col {
    margin-top: 21px;
}