<!DOCTYPE html>
<html>
<head>
    <meta lang="nl" />
    <meta charset="utf-8" />
    <title>Uurroosters WebApp</title>
    
    <!-- Minfify everything -->
    <!-- jQuery & Bootstrap -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <!--app init-->
    <script src="~/js/app/app.module.js"></script>
    <script src="~/js/app/home/home.controller.js"></script>

    <!-- Leerkrachten -->
    <script src="~/js/app/leerkrachten/leerkrachten.service.js"></script>
    <script src="~/js/app/leerkrachten/leerkrachten.controller.js"></script>
    <script src="~/js/app/leerkrachten/nieuw.controller.js"></script>
    <script src="~/js/app/leerkrachten/details.controller.js"></script>

    <!-- Vakken -->
    <script src="~/js/app/vakken/vakken.service.js"></script>
    <script src="~/js/app/vakken/vakken.controller.js"></script>
    <script src="~/js/app/vakken/nieuw.controller.js"></script>
    <script src="~/js/app/vakken/details.controller.js"></script>

    <!-- Campussen -->
    <script src="~/js/app/campussen/campussen.service.js"></script>
    <script src="~/js/app/campussen/campussen.controller.js"></script>
    <script src="~/js/app/campussen/nieuw.controller.js"></script>
    <script src="~/js/app/campussen/details.controller.js"></script>

    <!-- Studierichtingen -->
    <script src="~/js/app/studierichtingen/studierichtingen.service.js"></script>
    <script src="~/js/app/studierichtingen/studierichtingen.controller.js"></script>
    <script src="~/js/app/studierichtingen/nieuw.controller.js"></script>
    <script src="~/js/app/studierichtingen/details.controller.js"></script>

    <!-- Klassen -->
    <script src="~/js/app/klassen/klassen.service.js"></script>
    <script src="~/js/app/klassen/klassen.controller.js"></script>
    <script src="~/js/app/klassen/nieuw.controller.js"></script>
    <script src="~/js/app/klassen/details.controller.js"></script>

    <!-- Lokalen -->
    <script src="~/js/app/lokalen/lokalen.service.js"></script>
    <script src="~/js/app/lokalen/lokalen.controller.js"></script>
    <script src="~/js/app/lokalen/nieuw.controller.js"></script>
    <script src="~/js/app/lokalen/details.controller.js"></script>
    
    <!-- base -->
    <script src="~/js/app/base/basehttp.service.js"></script>
    <script src="~/js/app/base/baseIndex.controller.js"></script>
    <script src="~/js/app/base/baseNieuw.controller.js"></script>
    <script src="~/js/app/base/baseDetails.controller.js"></script>

    <!-- Uurroosters -->
    <script src="~/js/app/uurroosters/timeconverter.service.js"></script>
    <script src="~/js/app/uurroosters/lessen.service.js"></script>
    <script src="~/js/app/uurroosters/aanpassen.controller.js"></script>
    <script src="~/js/app/uurroosters/index.controller.js"></script>
    <script src="~/js/app/uurroosters/preview.controller.js"></script>
    <script src="~/js/app/uurroosters/verwijderen.controller.js"></script>


    <!-- my stuffs -->
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/weekview.css" />
</head>
<body data-ng-app="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">#KasomkLogo</a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Uurroosters <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/uurroosters">Uurroosters</a></li>
                            <li><a href="#/lesblokken">Lesblokken</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Beheer<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/leerkrachten">Leerkrachten</a></li>
                            <li><a href="#/klassen">Klassen</a></li>
                            <li><a href="#/lokalen">Lokalen</a></li>
                            <li><a href="#/vakken">Vakken</a></li>
                            <li><a href="#/studierichtingen">Studierichtingen</a></li>
                            <li><a href="#/campussen">Campussen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div data-ng-view></div>
    </main>
</body>
</html>