<!DOCTYPE html>
<html>
<head>
    <meta lang="nl" />
    <meta charset="utf-8" />
    <title>Uurroosters WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/journal/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>

    <!-- Minfify everything -->
    <script src="~/js/app/app.module.js"></script>
    <script src="~/js/app/home/home.controller.js"></script>

    <!-- Leerkrachten -->
    <script src="~/js/app/leerkrachten/leerkrachten.service.js"></script>
    <script src="~/js/app/leerkrachten/leerkrachten.controller.js"></script>
    <script src="~/js/app/leerkrachten/nieuw.controller.js"></script>
    <script src="~/js/app/leerkrachten/details.controller.js"></script>

    <!-- Vakken -->
    <script src="~/js/app/vakken/vakken.service.js"></script>
    <script src="~/js/app/vakken/vakken.controller.js"></script>
    <script src="~/js/app/vakken/nieuw.controller.js"></script>
    <script src="~/js/app/vakken/details.controller.js"></script>
</head>
<body data-ng-app="app">
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">#KasomkLogo</a>
            </div>
            <div class="collapse navbar-collapse" id="nav">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Uurroosters</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Beheer <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#/leerkrachten">Leerkrachten</a></li>
                            <li><a href="#">Klassen</a></li>
                            <li><a href="#/vakken">Vakken</a></li>
                            <li><a href="#">Lokalen</a></li>
                            <li><a href="#">Campussen</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="container">
        <div data-ng-view></div>
    </main>
</body>
</html>