<!-- Klassen details -->
<div class="panel panel-default">
    <div class="panel-heading">
        Details
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Naam:</td>
                <td>
                    {{ vm.currentEntity.Naam }}
                </td>
            </tr>
            <tr>
                <td>Studierichting:</td>
                <td>
                    {{ vm.currentEntity.Studierichting.Naam }}
                </td>
            </tr>
            <tr>
                <td>Campus:</td>
                <td>
                    {{ vm.currentEntity.Campus.Naam }}
                </td>
            </tr>
            <tr>
                <td>Leerjaar</td>
                <td>
                    {{ vm.currentEntity.Leerjaar }}
                </td>
            </tr>
        </tbody>
    </table>
</div>