<!-- Leerkrachten details -->
<div class="panel panel-default">
    <div class="panel-heading">
        Details
    </div>
    <table class="table">
        <tbody>
            <tr>
                <td>Naam:</td>
                <td>
                    {{ vm.currentEntity.Naam }}
                </td>
            </tr>
            <tr>
                <td>Voornaam:</td>
                <td>
                    {{ vm.currentEntity.Voornaam }}
                </td>
            </tr>
            <tr>
                <td>Vakken:</td>
                <td>
                    <ul class="list-unstyled">
                        <li data-ng-repeat="vak in vm.currentEntity.Vakken">
                            <a data-ng-href="#/vakken/details/{{vak.Id}}">
                                {{vak.Naam}}
                            </a>
                        </li>
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>
</div>