<!-- Leerkrachten details -->
<ul class="breadcrumb">
    <li><a href="#/">Home</a></li>
    <li><a href="#/leerkrachten">Leerkrachten</a></li>
    <li class="active">Details</li>
</ul>

<div data-ng-show="vm.isBusy">
    <i class="fa fa-spinner fa-pulse"></i>Loading...
</div>
<div data-ng-show="vm.notFound">
    <p class="text-warning">Er is geen leerkracht met dit ID gevonden.</p>
    <a href="#/leerkrachten" class="btn btn-default">
        <i class="fa fa-angle-left fa-lg fa-fw"></i> Terug
    </a>
</div>
<div data-ng-hide="vm.isDeleted || vm.notFound">
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary btn-block"
                    data-toggle="modal"
                    data-target="#updatemodal"        
            >
                <span data-ng-show="vm.updating"><i class="fa fa-spinner fa-pulse"></i></span>
                <span data-ng-hide="vm.updating"><i class="fa fa-pencil fa-fw"></i> Wijzigen</span>
            </button>
            <button class="btn btn-danger btn-block"
                    data-ng-hide="vm.isDeleted || vm.notFound"
                    data-toggle="modal"
                    data-target="#confirmationbox"
            >
                <span data-ng-show="vm.deleting"><i class="fa fa-spinner fa-pulse"></i></span>
                <span data-ng-hide="vm.deleting"><i class="fa fa-times fa-fw"></i> Verwijderen</span>
            </button>
            <a href="#/leerkrachten" class="btn btn-default btn-block">
                <i class="fa fa-angle-left fa-lg fa-fw"></i> Terug
            </a>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Details
                </div>
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Naam:</td>
                            <td>
                                {{ vm.currentLeerkracht.Naam }}
                            </td>
                        </tr>
                        <tr>
                            <td>Voornaam:</td>
                            <td>
                                {{ vm.currentLeerkracht.Voornaam }}
                            </td>
                        </tr>
                        <tr>
                            <td>Vakken:</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li data-ng-repeat="vak in vm.currentLeerkracht.Vakken">
                                        <a data-ng-href="#/vakken/details/{{vak.Id}}">
                                            {{vak.Naam}}
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-ng-show="vm.isDeleted">
    <p class="text-success">Leerkracht succesvol verwijderd</p>
    <a href="#/leerkrachten" class="btn btn-default">
        <i class="fa fa-angle-left fa-lg fa-fw"></i> Terug
    </a>
</div>

<!-- Confirmationbox voor delete -->
<div id="confirmationbox" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Leerkracht verwijderen</h4>
            </div>
            <div class="modal-body">
                Deze leerkacht wordt definitief verwijderd
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-ng-click="vm.deleteLeerkracht()">
                    <i class="fa fa-times fa-fw"></i> Verwijderen
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Modal voor update -->
<div id="updatemodal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">Leerkracht wijzigen</h4>
            </div>
            <div class="modal-body">
                <form novalidate name="update" ng-submit="vm.updateLeerkracht()">
                    <div class="form-group">
                        <label for="naam" class="control-label">Naam</label>
                        <input class="form-control" id="naam" name="naam" type="text"
                               data-ng-model="vm.updatedLeerkracht.Naam"
                               data-ng-maxlength="255"
                               tabindex="1"
                               required />
                        <span data-ng-show="update.naam.$error.required" class="text-warning">Naam is een verplicht veld</span>
                        <span data-ng-show="update.naam.$error.maxlength" class="text-warning">Naam mag maximaal 255 tekens lang zijn.</span>
                        <!-- ToDo: create directives-->
                    </div>
                    <div class="form-group">
                        <label for="voornaam" class="control-label">Voornaam</label>
                        <input class="form-control" id="voornaam" name="voornaam" type="text"
                               data-ng-model="vm.updatedLeerkracht.Voornaam"
                               data-ng-maxlength="255"
                               tabindex="2"
                               required />
                        <span data-ng-show="update.voornaam.$error.required" class="text-warning">Voornaam is een verplicht veld</span>
                        <span data-ng-show="update.voornaam.$error.maxlength" class="text-warning">Voornaam mag maximaal 255 tekens lang zijn.</span>
                    </div>
                    <div class="form-group" id="fi_vakken">
                        <label for="vakken" class="control-label">Vakken</label>
                        <select class="form-control" 
                                data-ng-model="vm.updatedLeerkracht.Vakken" 
                                data-ng-multiple="true"
                                data-ng-options="vak.Naam for vak in vm.vakken track by vak.Id | orderBy:'Naam'"
                                multiple
                        >
                        </select>
                    </div>
                    {{vm.updatedLeerkracht.Vakken}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuleren</button>
                <button type="button" 
                        class="btn btn-primary" 
                        data-dismiss="modal"
                        form="update"
                        data-ng-click="vm.updateLeerkracht()"
                >
                    <i class="fa fa-save fa-fw"></i> Opslaan
                </button>
            </div>
        </div>
    </div>
</div>